In [120]:
import pandas as pd

In [121]:
df = pd.read_csv("nfl_dataset_v1.csv")
df.head()

,Unnamed: 0,season,week,awayteam,hometeam,awayscore,homescore,idgame,score_abs,winner_home,...,capacity,people,line,over_under,attendance_info,month,dayofmonth,dayofweek,hour,minute
0,0,2017,9,Bengals,Jaguars,7,23,400951753,16,1,...,67858,89.0,NaN,NaN,1,11,5,6,18,0
1,1,2017,9,Bengals,Jaguars,7,23,400951753,16,1,...,67858,89.0,NaN,NaN,1,11,5,6,18,0
2,2,2017,4,Bills,Falcons,23,17,400951685,-6,0,...,75000,95.0,NaN,NaN,1,10,1,6,17,0
3,3,2017,4,Bills,Falcons,23,17,400951685,-6,0,...,75000,95.0,NaN,NaN,1,10,1,6,17,0
4,4,2017,4,Saints,Dolphins,20,0,400950241,-20,0,...,86000,98.0,NaN,NaN,1,10,1,6,13,30

In [122]:
df = df.drop(columns=['Unnamed: 0', 'concat', 'game_date', 'delta_match', 'date', 'line', 'over_under', 'awayscore', 'homescore', 'score_abs', 'winner_team', 'winner_away'])

In [123]:
# cheking the amount of games in the dataframe
len(df.idgame.unique())

1289

In [124]:
# checking the amount of lines in the dataframe (there shoulb be one line per game)
len(df)

2542

In [125]:
# identifying the double
df.duplicated('idgame')

0       False
1        True
2       False
3        True
4       False
        ...
2537     True
2538    False
2539     True
2540    False
2541     True
Length: 2542, dtype: bool

In [126]:
# removing the doubles
df = df.drop_duplicates(subset=['idgame'], keep='first')
len(df)

1289

In [127]:
print(df.columns.tolist())

['season', 'week', 'awayteam', 'hometeam', 'idgame', 'winner_home', 'home_coach', 'away_coach', 'location_x', 'weather_type', 'temperature', 'humidity', 'wind', 'team', 'pass_completion', 'pass_yds', 'pass_avg', 'pass_td', 'pass_int', 'sacks', 'qbr', 'rtg', 'rush_car', 'rush_yds', 'rush_avg', 'rush_td', 'rush_long', 'receptions', 'rec_yds', 'rec_avg', 'rec_td', 'rec_long', 'rec_tgs', 'fumbles', 'fumbles_lost', 'fumbles_rec', 'defense_tot', 'defense_solo', 'defense_sacks', 'defense_tfl', 'defense_pd', 'defense_qb_hits', 'defense_td', 'interceptions', 'interceptions_yds', 'interceptions_td', 'kicks_return_no', 'kicks_return_yds', 'kicks_return_avg', 'kicks_return_long', 'kicks_return_td', 'punt_return_no', 'punt_return_yds', 'punt_return_avg', 'punt_return_long', 'punt_return_td', 'kicking_pct', 'kicking_long', 'kicking_pts', 'punting_no', 'punting_yds', 'punting_avg', 'punting_tb', 'punting_in_20', 'punting_long', 'pass_completion_MA_5', 'pass_yds_MA_5', 'pass_avg_MA_5', 'pass_td_MA_5', 'pass_int_MA_5', 'sacks_MA_5', 'qbr_MA_5', 'rtg_MA_5', 'rush_car_MA_5', 'rush_yds_MA_5', 'rush_avg_MA_5', 'rush_td_MA_5', 'rush_long_MA_5', 'receptions_MA_5', 'rec_yds_MA_5', 'rec_avg_MA_5', 'rec_td_MA_5', 'rec_long_MA_5', 'rec_tgs_MA_5', 'fumbles_MA_5', 'fumbles_lost_MA_5', 'fumbles_rec_MA_5', 'defense_tot_MA_5', 'defense_solo_MA_5', 'defense_sacks_MA_5', 'defense_tfl_MA_5', 'defense_pd_MA_5', 'defense_qb_hits_MA_5', 'defense_td_MA_5', 'interceptions_MA_5', 'interceptions_yds_MA_5', 'interceptions_td_MA_5', 'kicks_return_no_MA_5', 'kicks_return_yds_MA_5', 'kicks_return_avg_MA_5', 'kicks_return_long_MA_5', 'kicks_return_td_MA_5', 'punt_return_no_MA_5', 'punt_return_yds_MA_5', 'punt_return_avg_MA_5', 'punt_return_long_MA_5', 'punt_return_td_MA_5', 'kicking_pct_MA_5', 'kicking_long_MA_5', 'kicking_pts_MA_5', 'punting_no_MA_5', 'punting_yds_MA_5', 'punting_avg_MA_5', 'punting_tb_MA_5', 'punting_in_20_MA_5', 'punting_long_MA_5', 'stade', 'location_y', 'attendance', 'capacity', 'people', 'attendance_info', 'month', 'dayofmonth', 'dayofweek', 'hour', 'minute']

In [128]:
# removing columns that became useless with the moving average
to_be_removed = ['pass_completion', 'pass_yds', 'pass_avg', 'pass_td', 'pass_int', 'sacks', 'qbr', 'rtg', 'rush_car', 'rush_yds', 'rush_avg', 'rush_td', 'rush_long', 'receptions', 'rec_yds', 'rec_avg', 'rec_td', 'rec_long', 'rec_tgs', 'fumbles', 'fumbles_lost', 'fumbles_rec', 'defense_tot', 'defense_solo', 'defense_sacks', 'defense_tfl', 'defense_pd', 'defense_qb_hits', 'defense_td', 'interceptions', 'interceptions_yds', 'interceptions_td', 'kicks_return_no', 'kicks_return_yds', 'kicks_return_avg', 'kicks_return_long', 'kicks_return_td', 'punt_return_no', 'punt_return_yds', 'punt_return_avg', 'punt_return_long', 'punt_return_td', 'kicking_pct', 'kicking_long', 'kicking_pts', 'punting_no', 'punting_yds', 'punting_avg', 'punting_tb', 'punting_in_20', 'punting_long']
df = df.drop(columns=to_be_removed)

In [129]:
print(df.columns.tolist())

['season', 'week', 'awayteam', 'hometeam', 'idgame', 'winner_home', 'home_coach', 'away_coach', 'location_x', 'weather_type', 'temperature', 'humidity', 'wind', 'team', 'pass_completion_MA_5', 'pass_yds_MA_5', 'pass_avg_MA_5', 'pass_td_MA_5', 'pass_int_MA_5', 'sacks_MA_5', 'qbr_MA_5', 'rtg_MA_5', 'rush_car_MA_5', 'rush_yds_MA_5', 'rush_avg_MA_5', 'rush_td_MA_5', 'rush_long_MA_5', 'receptions_MA_5', 'rec_yds_MA_5', 'rec_avg_MA_5', 'rec_td_MA_5', 'rec_long_MA_5', 'rec_tgs_MA_5', 'fumbles_MA_5', 'fumbles_lost_MA_5', 'fumbles_rec_MA_5', 'defense_tot_MA_5', 'defense_solo_MA_5', 'defense_sacks_MA_5', 'defense_tfl_MA_5', 'defense_pd_MA_5', 'defense_qb_hits_MA_5', 'defense_td_MA_5', 'interceptions_MA_5', 'interceptions_yds_MA_5', 'interceptions_td_MA_5', 'kicks_return_no_MA_5', 'kicks_return_yds_MA_5', 'kicks_return_avg_MA_5', 'kicks_return_long_MA_5', 'kicks_return_td_MA_5', 'punt_return_no_MA_5', 'punt_return_yds_MA_5', 'punt_return_avg_MA_5', 'punt_return_long_MA_5', 'punt_return_td_MA_5', 'kicking_pct_MA_5', 'kicking_long_MA_5', 'kicking_pts_MA_5', 'punting_no_MA_5', 'punting_yds_MA_5', 'punting_avg_MA_5', 'punting_tb_MA_5', 'punting_in_20_MA_5', 'punting_long_MA_5', 'stade', 'location_y', 'attendance', 'capacity', 'people', 'attendance_info', 'month', 'dayofmonth', 'dayofweek', 'hour', 'minute']

In [130]:
print("Number of rows : {}".format(df.shape[0]))
print()

print("Basics statistics: ")
data_desc = df.describe(include='all')
display(data_desc)
print()

print("Percentage of missing values: ")
display(100*df.isnull().sum()/df.shape[0])

Number of rows : 1289

Basics statistics:

,season,week,awayteam,hometeam,idgame,winner_home,home_coach,away_coach,location_x,weather_type,...,location_y,attendance,capacity,people,attendance_info,month,dayofmonth,dayofweek,hour,minute
count,1289.000000,1289.000000,1289,1289,1.289000e+03,1289.000000,1289,1289,1289,1289,...,1289,1140.000000,1289.000000,1140.000000,1289.000000,1289.000000,1289.000000,1289.000000,1289.000000,1289.00000
unique,NaN,NaN,32,32,NaN,NaN,63,63,2,7,...,35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,NaN,Cowboys,Jaguars,NaN,NaN,John Harbaugh,Ron Rivera,Home,cloudy,...,"East Rutherford, NJ",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,41,41,NaN,NaN,41,41,1270,768,...,81,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,2019.027153,9.175330,NaN,NaN,4.011341e+08,0.539178,NaN,NaN,NaN,NaN,...,NaN,61886.508772,70211.602017,88.013158,0.884407,10.254461,16.082234,5.098526,15.049651,9.09232
std,1.422984,5.062066,NaN,NaN,1.338832e+05,0.498656,NaN,NaN,NaN,NaN,...,NaN,19059.984436,9601.706381,24.114280,0.319861,2.123613,8.765195,1.920486,7.274286,11.26295
min,2017.000000,1.000000,NaN,NaN,4.009502e+08,0.000000,NaN,NaN,NaN,NaN,...,NaN,748.000000,27000.000000,1.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.00000
25%,2018.000000,5.000000,NaN,NaN,4.010308e+08,0.000000,NaN,NaN,NaN,NaN,...,NaN,60546.750000,65828.000000,91.000000,1.000000,10.000000,9.000000,6.000000,17.000000,0.00000
50%,2019.000000,9.000000,NaN,NaN,4.011280e+08,1.000000,NaN,NaN,NaN,NaN,...,NaN,66880.500000,68740.000000,97.000000,1.000000,11.000000,16.000000,6.000000,18.000000,0.00000
75%,2020.000000,14.000000,NaN,NaN,4.012203e+08,1.000000,NaN,NaN,NaN,NaN,...,NaN,71865.250000,73000.000000,100.000000,1.000000,12.000000,24.000000,6.000000,20.000000,20.00000
max,2021.000000,18.000000,NaN,NaN,4.013266e+08,1.000000,NaN,NaN,NaN,NaN,...,NaN,93503.000000,100000.000000,100.000000,1.000000,12.000000,31.000000,6.000000,23.000000,55.00000

Percentage of missing values:

season        0.0
week          0.0
awayteam      0.0
hometeam      0.0
idgame        0.0
             ...
month         0.0
dayofmonth    0.0
dayofweek     0.0
hour          0.0
minute        0.0
Length: 76, dtype: float64

In [131]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1289 entries, 0 to 2540
Data columns (total 76 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   season                  1289 non-null   int64
 1   week                    1289 non-null   int64
 2   awayteam                1289 non-null   object
 3   hometeam                1289 non-null   object
 4   idgame                  1289 non-null   int64
 5   winner_home             1289 non-null   int64
 6   home_coach              1289 non-null   object
 7   away_coach              1289 non-null   object
 8   location_x              1289 non-null   object
 9   weather_type            1289 non-null   object
 10  temperature             1289 non-null   int64
 11  humidity                1289 non-null   int64
 12  wind                    1289 non-null   int64
 13  team                    1289 non-null   object
 14  pass_completion_MA_5    1209 non-null   float64
 15  pass_yds_MA_5           1209 non-null   float64
 16  pass_avg_MA_5           1209 non-null   float64
 17  pass_td_MA_5            1209 non-null   float64
 18  pass_int_MA_5           1209 non-null   float64
 19  sacks_MA_5              1209 non-null   float64
 20  qbr_MA_5                1209 non-null   float64
 21  rtg_MA_5                1209 non-null   float64
 22  rush_car_MA_5           1209 non-null   float64
 23  rush_yds_MA_5           1209 non-null   float64
 24  rush_avg_MA_5           1209 non-null   float64
 25  rush_td_MA_5            1209 non-null   float64
 26  rush_long_MA_5          1209 non-null   float64
 27  receptions_MA_5         1209 non-null   float64
 28  rec_yds_MA_5            1209 non-null   float64
 29  rec_avg_MA_5            1209 non-null   float64
 30  rec_td_MA_5             1209 non-null   float64
 31  rec_long_MA_5           1209 non-null   float64
 32  rec_tgs_MA_5            1209 non-null   float64
 33  fumbles_MA_5            1209 non-null   float64
 34  fumbles_lost_MA_5       1209 non-null   float64
 35  fumbles_rec_MA_5        1209 non-null   float64
 36  defense_tot_MA_5        1209 non-null   float64
 37  defense_solo_MA_5       1209 non-null   float64
 38  defense_sacks_MA_5      1209 non-null   float64
 39  defense_tfl_MA_5        1209 non-null   float64
 40  defense_pd_MA_5         1209 non-null   float64
 41  defense_qb_hits_MA_5    1209 non-null   float64
 42  defense_td_MA_5         1209 non-null   float64
 43  interceptions_MA_5      1209 non-null   float64
 44  interceptions_yds_MA_5  1209 non-null   float64
 45  interceptions_td_MA_5   1209 non-null   float64
 46  kicks_return_no_MA_5    1209 non-null   float64
 47  kicks_return_yds_MA_5   1209 non-null   float64
 48  kicks_return_avg_MA_5   1209 non-null   float64
 49  kicks_return_long_MA_5  1209 non-null   float64
 50  kicks_return_td_MA_5    1209 non-null   float64
 51  punt_return_no_MA_5     1209 non-null   float64
 52  punt_return_yds_MA_5    1209 non-null   float64
 53  punt_return_avg_MA_5    1209 non-null   float64
 54  punt_return_long_MA_5   1209 non-null   float64
 55  punt_return_td_MA_5     1209 non-null   float64
 56  kicking_pct_MA_5        1209 non-null   float64
 57  kicking_long_MA_5       1209 non-null   float64
 58  kicking_pts_MA_5        1209 non-null   float64
 59  punting_no_MA_5         1209 non-null   float64
 60  punting_yds_MA_5        1209 non-null   float64
 61  punting_avg_MA_5        1209 non-null   float64
 62  punting_tb_MA_5         1209 non-null   float64
 63  punting_in_20_MA_5      1209 non-null   float64
 64  punting_long_MA_5       1209 non-null   float64
 65  stade                   1289 non-null   object
 66  location_y              1289 non-null   object
 67  attendance              1140 non-null   float64
 68  capacity                1289 non-null   int64
 69  people                  1140 non-null   float64
 70  attendance_info         1289 non-null   int64
 71  month                   1289 non-null   int64
 72  dayofmonth              1289 non-null   int64
 73  dayofweek               1289 non-null   int64
 74  hour                    1289 non-null   int64
 75  minute                  1289 non-null   int64
dtypes: float64(53), int64(14), object(9)
memory usage: 775.4+ KB

In [132]:
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
import numpy as np

In [133]:
Y = df.loc[:,"winner_home"]
X = df.loc[:,[c for c in df.columns if c!="winner_home"]]

X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=0)

# select automatically the numerical and categorical columns
num_col = X.select_dtypes([np.number]).columns
cat_col = X.select_dtypes("object").columns

# Create pipeline for numeric features
numeric_features = X.select_dtypes([np.number]).columns 
numeric_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='mean')), # missing values in Age will be replaced by columns' mean
    ('scaler', StandardScaler())])

# Create pipeline for categorical features
categorical_features = X.select_dtypes("object").columns 
categorical_transformer = Pipeline(
    steps=[
    ('imputer', SimpleImputer(strategy='most_frequent')), # missing values will be replaced by most frequent value
    ('encoder', OneHotEncoder(drop='first')) # first column will be dropped to avoid creating correlations between features
    ])

# Use ColumnTranformer to make a preprocessor object that describes all the treatments to be done
preprocessor = ColumnTransformer(
    transformers=[
        ('num', numeric_transformer, numeric_features),
        ('cat', categorical_transformer, categorical_features)
    ])

X_train = preprocessor.fit_transform(X_train)
X_test = preprocessor.transform(X_test)

model = LogisticRegression()
model.fit(X_train, Y_train)

Y_train_pred = model.predict(X_train)
Y_test_pred = model.predict(X_test)

print("Accuracy on training set : ", accuracy_score(Y_train, Y_train_pred))
print("Accuracy on test set : ", accuracy_score(Y_test, Y_test_pred))

Accuracy on training set :  0.7652764306498545
Accuracy on test set :  0.6085271317829457

C:\Users\alice\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\sklearn\linear_model\_logistic.py:444: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(